html,
body {
    font-family: "Eater", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
    position: relative;
    overflow: hidden;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(0, 0, 1, 0.8);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.click {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-image: url(../img/click.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 700ms;

}

.clickP {
    color: green;
    font-size: 150px;
    transition: 300ms;
    text-shadow: 0px 0px 5px black;
    z-index: 101;
}

.clickP:hover {
    color: greenyellow;
}

.clickHov {
    opacity: 0;
    z-index: -1000;
    height: 0;
}

.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

h1 {
    color: #ffffff;
    margin-bottom: 100px;
    text-shadow:
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 3px;
    font-size: 72px;
    animation: flicker 1.3s infinite;

}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

li {
    list-style: none;
    color: #ffffff;
    text-shadow: 1px 5px 5px #000000;
    background-image: url(../img/bg-li.png);
    background-size: 363px 150px;
    background-position: left;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 45px;
    z-index: 5;
    transition: 600ms;
    cursor: pointer;
}

li:hover {
    color: rgba(0, 0, 1, 0.8);
    transform: scale(105%);
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;

}

.container {
    width: 400px;
}

.devs-menu {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 700ms;
    height: 0;
    transform: scale(0);
    transition: opacity 700ms, visibility 700ms, max-height 700ms;
}

.devs-menu_on {
    box-sizing: border-box;
    transform: scale(1);
    background-image: url(../img/devs.png);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 400px;
    position: absolute;
    left: 36%;
    top: 10%;
    text-align: center;
    display: flex;
    opacity: 1;
    flex-direction: column;
    padding: 90px 30px;
    transition: opacity 600ms, visibility 600ms, max-height 600ms;
    visibility: visible;
    pointer-events: auto;
}

.devs-menu p {
    margin: 0;
    font-size: 24px;
    line-height: 34px;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;

}